<%- include('../partials/header') %>

<div id="players-list-container">
  <h2><%= title %></h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Country</th>
        <th>Ranking</th>
        <th>UTR</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% players.forEach(function(p) { %>
        <tr>
          <td><%= p.name %></td>
          <td><%= p.age %></td>
          <td><%= p.country %></td>
          <td><%= p.ranking %></td>
          <td><%= p.utr %></td>
        </tr>
      </tbody>
    <% }) %>
  </table>
</div>

<%- include('../partials/footer') %>