<%- include('../partials/header') %>

<h2>DRAW</h2>

<div>
  <div id="first-round">
    <div>
      <p><%= tournament.firstRound1.playerOne.name %></p>
      <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.firstRound1._id %>">Score</a>
      <p><%= tournament.firstRound1.playerTwo.name %></p>
    </div>
    <div>
      <p><%= tournament.firstRound2.playerOne.name %></p>
      <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.firstRound2._id %>">Score</a>
      <p><%= tournament.firstRound2.playerTwo.name %></p>
    </div>
    <div>
      <p><%= tournament.firstRound3.playerOne.name %></p>
      <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.firstRound3._id %>">Score</a>
      <p><%= tournament.firstRound3.playerTwo.name %></p>
    </div>
    <div>
      <p><%= tournament.firstRound4.playerOne.name %></p>
      <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.firstRound4._id %>">Score</a>
      <p><%= tournament.firstRound4.playerTwo.name %></p>
    </div>
    <div>
      <p><%= tournament.firstRound5.playerOne.name %></p>
      <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.firstRound5._id %>">Score</a>
      <p><%= tournament.firstRound5.playerTwo.name %></p>
    </div>
    <div>
      <p><%= tournament.firstRound6.playerOne.name %></p>
      <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.firstRound6._id %>">Score</a>
      <p><%= tournament.firstRound6.playerTwo.name %></p>
    </div>
    <div>
      <p><%= tournament.firstRound7.playerOne.name %></p>
      <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.firstRound7._id %>">Score</a>
      <p><%= tournament.firstRound7.playerTwo.name %></p>
    </div>
    <div>
      <p><%= tournament.firstRound8.playerOne.name %></p>
      <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.firstRound8._id %>">Score</a>
      <p><%= tournament.firstRound8.playerTwo.name %></p>
    </div>
  </div>
  <div id="quarter-final">
    <div>
      <% if (tournament.quarterFinal1) { %>
        <p><%= tournament.firstRound1.winner.player.name %></p>
        <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.quarterFinal1._id %>">Score</a>
        <p><%= tournament.firstRound2.winner.player.name %></p>
      <% } %>
    </div>
    <div>
      <% if (tournament.quarterFinal2) { %>
        <p><%= tournament.firstRound3.winner.player.name %></p>
        <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.quarterFinal2._id %>">Score</a>
        <p><%= tournament.firstRound4.winner.player.name %></p>
      <% } %>
    </div>
    <div>
      <% if (tournament.quarterFinal3) { %>
        <p><%= tournament.firstRound5.winner.player.name %></p>
        <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.quarterFinal3._id %>">Score</a>
        <p><%= tournament.firstRound6.winner.player.name %></p>
      <% } %>
    </div>
    <div>
      <% if (tournament.quarterFinal4) { %>
        <p><%= tournament.firstRound7.winner.player.name %></p>
        <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.quarterFinal4._id %>">Score</a>
        <p><%= tournament.firstRound8.winner.player.name %></p>
      <% } %>
    </div>
  </div>
  <div id="semi-final">
    <div>
      <% if (tournament.semiFinal1) { %>
        <p><%= tournament.quarterFinal1.winner.player.name %></p>
        <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.semiFinal1._id %>">Score</a>
        <p><%= tournament.quarterFinal2.winner.player.name %></p>
      <% } %>
    </div>
    <div>
      <% if (tournament.semiFinal2) { %>
        <p><%= tournament.quarterFinal3.winner.player.name %></p>
        <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.semiFinal2._id %>">Score</a>
        <p><%= tournament.quarterFinal4.winner.player.name %></p>
      <% } %>
    </div>
  </div>
  <div id="final">
    <div>
      <% if (tournament.final) { %>
        <p><%= tournament.semiFinal1.winner.player.name %></p>
        <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.final._id %>">Score</a>
        <p><%= tournament.semiFinal2.winner.player.name %></p>
      <% } %>
    </div>
  </div>
</div>

<% if (tournament.final && tournament.final.winner.boolean) { %>
  <h1>The Champion is <%= tournament.final.winner.player.name %></h1>

<% } %>

<%- include('../partials/footer') %>