<%- include('../partials/header') %>

<h2>DRAW</h2>

<div>
  <div id="first-round">
    <div>
      <p><%= tournament.firstRound1.playerOne.name %></p>
      <p><%= tournament.firstRound1.playerTwo.name %></p>
    </div>
    <div>
      <p><%= tournament.firstRound2.playerOne.name %></p>
      <p><%= tournament.firstRound2.playerTwo.name %></p>
    </div>
    <div>
      <p><%= tournament.firstRound3.playerOne.name %></p>
      <p><%= tournament.firstRound3.playerTwo.name %></p>
    </div>
    <div>
      <p><%= tournament.firstRound4.playerOne.name %></p>
      <p><%= tournament.firstRound4.playerTwo.name %></p>
    </div>
    <div>
      <p><%= tournament.firstRound5.playerOne.name %></p>
      <p><%= tournament.firstRound5.playerTwo.name %></p>
    </div>
    <div>
      <p><%= tournament.firstRound6.playerOne.name %></p>
      <p><%= tournament.firstRound6.playerTwo.name %></p>
    </div>
    <div>
      <p><%= tournament.firstRound7.playerOne.name %></p>
      <p><%= tournament.firstRound7.playerTwo.name %></p>
    </div>
    <div>
      <p><%= tournament.firstRound8.playerOne.name %></p>
      <p><%= tournament.firstRound8.playerTwo.name %></p>
    </div>
  </div>
  <div id="quarter-final">
    <div>
      <p></p>
      <p></p>
    </div>
    <div>
      <p></p>
      <p></p>
    </div>
    <div>
      <p></p>
      <p></p>
    </div>
    <div>
      <p></p>
      <p></p>
    </div>
  </div>
  <div id="semi-final">
    <div>
      <p></p>
      <p></p>
    </div>
    <div>
      <p></p>
      <p></p>
    </div>
  </div>
  <div id="final">
    <div>
      <p></p>
      <p></p>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>