<%- include('../partials/header') %>

<div id="tournament-draw">
  <h2>DRAW</h2>
  
  <% if (tournament.final && tournament.final.winner.boolean) { %>
    <h3>Champion: <%= tournament.final.winner.player.name %></h1>
  <% } %>
  <div>
    <h3>First Round</h3>
    <h3>Quarter Final</h3>
    <h3>Semi Final</h3>
    <h3>Final</h3>
  </div>
</div>
<div id="tournament">
  <div id="first-round">
    <div class="matches">
      <p><%= tournament.firstRound1.playerOne.name %></p>
      <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.firstRound1._id %>">Score</a>
      <p><%= tournament.firstRound1.playerTwo.name %></p>
    </div>
    <div class="matches">
      <p><%= tournament.firstRound2.playerOne.name %></p>
      <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.firstRound2._id %>">Score</a>
      <p><%= tournament.firstRound2.playerTwo.name %></p>
    </div>
    <div class="matches">
      <p><%= tournament.firstRound3.playerOne.name %></p>
      <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.firstRound3._id %>">Score</a>
      <p><%= tournament.firstRound3.playerTwo.name %></p>
    </div>
    <div class="matches">
      <p><%= tournament.firstRound4.playerOne.name %></p>
      <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.firstRound4._id %>">Score</a>
      <p><%= tournament.firstRound4.playerTwo.name %></p>
    </div>
    <div class="matches">
      <p><%= tournament.firstRound5.playerOne.name %></p>
      <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.firstRound5._id %>">Score</a>
      <p><%= tournament.firstRound5.playerTwo.name %></p>
    </div>
    <div class="matches">
      <p><%= tournament.firstRound6.playerOne.name %></p>
      <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.firstRound6._id %>">Score</a>
      <p><%= tournament.firstRound6.playerTwo.name %></p>
    </div>
    <div class="matches">
      <p><%= tournament.firstRound7.playerOne.name %></p>
      <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.firstRound7._id %>">Score</a>
      <p><%= tournament.firstRound7.playerTwo.name %></p>
    </div>
    <div class="matches">
      <p><%= tournament.firstRound8.playerOne.name %></p>
      <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.firstRound8._id %>">Score</a>
      <p><%= tournament.firstRound8.playerTwo.name %></p>
    </div>
  </div>
  <div id="quarter-final">
    <div class="matches">
      <% if (tournament.quarterFinal1) { %>
        <p><%= tournament.firstRound1.winner.player.name %></p>
        <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.quarterFinal1._id %>">Score</a>
        <p><%= tournament.firstRound2.winner.player.name %></p>
      <% } %>
    </div>
    <div class="matches">
      <% if (tournament.quarterFinal2) { %>
        <p><%= tournament.firstRound3.winner.player.name %></p>
        <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.quarterFinal2._id %>">Score</a>
        <p><%= tournament.firstRound4.winner.player.name %></p>
      <% } %>
    </div>
    <div class="matches">
      <% if (tournament.quarterFinal3) { %>
        <p><%= tournament.firstRound5.winner.player.name %></p>
        <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.quarterFinal3._id %>">Score</a>
        <p><%= tournament.firstRound6.winner.player.name %></p>
      <% } %>
    </div>
    <div class="matches">
      <% if (tournament.quarterFinal4) { %>
        <p><%= tournament.firstRound7.winner.player.name %></p>
        <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.quarterFinal4._id %>">Score</a>
        <p><%= tournament.firstRound8.winner.player.name %></p>
      <% } %>
    </div>
  </div>
  <div id="semi-final">
    <div class="matches">
      <% if (tournament.semiFinal1) { %>
        <p><%= tournament.quarterFinal1.winner.player.name %></p>
        <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.semiFinal1._id %>">Score</a>
        <p><%= tournament.quarterFinal2.winner.player.name %></p>
      <% } %>
    </div>
    <div class="matches">
      <% if (tournament.semiFinal2) { %>
        <p><%= tournament.quarterFinal3.winner.player.name %></p>
        <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.semiFinal2._id %>">Score</a>
        <p><%= tournament.quarterFinal4.winner.player.name %></p>
      <% } %>
    </div>
  </div>
  <div id="final">
    <div class="matches">
      <% if (tournament.final) { %>
        <p><%= tournament.semiFinal1.winner.player.name %></p>
        <a href="/tournaments/<%= tournament._id %>/match/<%= tournament.final._id %>">Score</a>
        <p><%= tournament.semiFinal2.winner.player.name %></p>
      <% } %>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>